---
import Layout from "@layouts/Layout.astro";
import Info from "@components/Info.jsx";
import { getInfoAnime, getEpisodes } from "@lib/Anime.js";

const { id } = Astro.params;

const DataInfo = await getInfoAnime(id);
const Episodes = await getEpisodes(id);
---

<Layout title=`${id}`>
  {
    DataInfo ? (
      <Info dataAnime={DataInfo} episodes={Episodes} client:load />
    ) : (
      <span>Cargando........</span>
    )
  }
</Layout>
