---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Not Found Error 404">
  <div class="text-color-2">
    <h2>Not Found</h2>
    <p>404</p>
    <img alt="404" class="" src="./404-anime-girl.gif" />
  </div>
</Layout>

<style>
  div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 5vh;
  }

  p {
    text-align: center;
    font-size: 25vh;
  }
</style>
