---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Not Found Error 404">
  <div class="text-color-2">
    <h2>Not Found</h2>
    <Image
      alt="404"
      src="/404-anime-girl.gif"
      width={184}
      height={100}
      class="object-cover object-center group-hover:opacity-75"
    />
    <p>404</p>
  </div>
</Layout>

<style>
  div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 5vh;
  }

  p {
    text-align: center;
    font-size: 25vh;
  }
</style>
