---
import { Image } from "astro:assets";
---

<nav class="bg-color-5 w-full h-14 flex flex-col justify-center">
  <Image
    src="/Logo2.png"
    alt="Logo"
    width={60}
    height={60}
    class="object-cover object-center"
  />
</nav>
