---
import { ViewTransitions } from "astro:transitions";
import NavbarInferior from "@components/NavbarInferior.astro";
import NavbarSuperior from "@components/NavbarSuperior.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-color-1 text-color-2">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<NavbarSuperior />
		<slot />
		<NavbarInferior />
		<style is:global>
			:root {
			}
			html {
				font-family: sans-serif;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				list-style: none;
				text-decoration: none;
			}

			body::-webkit-scrollbar {
				background-color: transparent;
			}

			.transparentScrollbar::-webkit-scrollbar {
				background-color: transparent;
				width: 0;
				height: 0;
			}
		</style>
	</body>
</html>
