---
import { ViewTransitions } from "astro:transitions";
import NavbarInferior from "@components/NavbarInferior.astro";
import NavbarSuperior from "@components/NavbarSuperior.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ES">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Entretenimiento gratuito y para todas las edades - Anime Manager - Anime Manager es una aplicación web que te permite ver sin registro. También puedes ver anime en tu dispositivo movil. 🥵"
		/>
		<meta
			name="keywords"
			content="anime sub español ,anime online, anime de estrenos, anime, manager, anime manager, anime gratis, anime en español, noticias de anime"
		/>
		<meta name="author" content="HyugoDev" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <ViewTransitions /> -->
	</head>
	<body>
		<NavbarSuperior />
		<slot />
		<NavbarInferior />
		<style is:global>
			:root {
			}
			html {
				/* background-color: #000000; */
				/* color: #b41c2e; */

				background-color: rgb(0, 0, 0);

				background-image: radial-gradient(
						white,
						rgba(255, 255, 255, 0.2) 2px,
						transparent 40px
					),
					radial-gradient(
						white,
						rgba(255, 255, 255, 0.15) 1px,
						transparent 30px
					),
					radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
					radial-gradient(
						rgba(255, 255, 255, 0.4),
						rgba(255, 255, 255, 0.1) 2px,
						transparent 30px
					);

				background-size:
					550px 550px,
					350px 350px,
					250px 250px,
					150px 150px;
				background-position:
					0 0,
					40px 60px,
					130px 270px,
					70px 100px;

				color: white;

				font-family: sans-serif;
				width: 100%;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
			* {
				margin: 0;
				padding: 0;
				list-style: none;
				text-decoration: none;
			}

			body::-webkit-scrollbar {
				background-color: transparent;
				width: 0;
				height: 0;
			}
			.transparentScrollbar::-webkit-scrollbar {
				background-color: transparent;
				width: 0;
				height: 0;
			}
		</style>
	</body>
</html>
